<div class="app-profile">
  <div class="row">
    <div class="col-12 col-sm-auto mb-3">
      <div class="mx-auto" style="width: 220px;">
        <div class="d-flex justify-content-center align-items-center rounded">
          <img src="{{ unit.imageURL }}"/>
        </div>
      </div>
    </div>
    <div class="col d-flex flex-column flex-sm-row justify-content-between mb-4">
      <div class="text-center text-sm-left mb-4 mb-sm-0">
        <h1 class="pt-sm-2 pb-1 mb-0 text-nowrap">{{ unit.name }}</h1>
        <p class="pt-sm-2 pb-1 mb-0 text-nowrap"><img src="../../../assets/img/health.png"/>: {{ unit.life }}</p>
        <p class="pt-sm-2 pb-1 mb-0 text-nowrap"><img src="../../../assets/img/speed.png"/>: {{ unit.speed }}</p>
        <p class="pt-sm-2 pb-1 mb-0 text-nowrap"><b>Affinity : </b><img src="../../../assets/img/runes/{{ unit.affinity }}.png"/></p>
        <p class="pt-sm-2 pb-1 mb-0 text-nowrap"><b>Number : </b>{{ unit.number }}</p>
        <p class="pt-sm-2 pb-1 mb-0 text-nowrap"><b>Capture Date : </b>{{ unit.captureDate | date:'medium' }}</p>
        <p class="pt-sm-2 pb-1 mb-0 text-nowrap"><b>Created Date : </b>{{ unit.createdDate | date:'medium' }}</p>
      </div>
      <div>
        <h5>Weapons</h5>
        <tr *ngFor="let weapon of unit.runes.weapons">
          <td><img src="../../../assets/img/weapons/{{ weapon }}.png"/></td>
        </tr>
        <h5>Abilities</h5>
        <tr *ngFor="let ability of unit.runes.abilities">
          <td><img src="../../../assets/img/runes/{{ ability}}.png"/></td>
        </tr>
      </div>
      <div>
          <tr>
            <td><img src="../../../assets/img/runes/air.png"/></td>
            <td>{{ unit.kernel.air }}</td>
          </tr>
          <tr>
            <td><img src="../../../assets/img/runes/darkness.png"/></td>
            <td>{{ unit.kernel.darkness }}</td>
          </tr>
          <tr>
            <td><img src="../../../assets/img/runes/earth.png"/></td>
            <td>{{ unit.kernel.earth }}</td>
          </tr>
          <tr>
            <td><img src="../../../assets/img/runes/energy.png"/></td>
            <td>{{ unit.kernel.energy }}</td>
          </tr>
          <tr>
            <td><img src="../../../assets/img/runes/fire.png"/></td>
            <td>{{ unit.kernel.fire }}</td>
          </tr>
          <tr>
            <td><img src="../../../assets/img/runes/life.png"/></td>
            <td>{{ unit.kernel.life }}</td>
          </tr>
          <tr>
            <td><img src="../../../assets/img/runes/light.png"/></td>
            <td>{{ unit.kernel.light }}</td>
          </tr>
          <tr>
            <td><img src="../../../assets/img/runes/logic.png"/></td>
            <td>{{ unit.kernel.logic }}</td>
          </tr>
          <tr>
            <td><img src="../../../assets/img/runes/music.png"/></td>
            <td>{{ unit.kernel.music }}</td>
          </tr>
          <tr>
            <td><img src="../../../assets/img/runes/space.png"/></td>
            <td>{{ unit.kernel.space }}</td>
          </tr>
          <tr>
            <td><img src="../../../assets/img/runes/toxic.png"/></td>
            <td>{{ unit.kernel.toxic }}</td>
          </tr>
          <tr>
            <td><img src="../../../assets/img/runes/water.png"/></td>
            <td>{{ unit.kernel.water }}</td>
          </tr>
      </div>
    </div>
  </div>
</div>
