<div class="my-3">
  <e-navbar [class]="'px-lg-4'" [title]="'Dashboard'">
    <div brand>
      <a class="e-logo mx-4" routerLink="/pages/overview" routerLinkActive="">
        <span>Andromia <small>Project</small></span>
      </a>
    </div>
    <div collapse>
      <ul class="navbar-nav pt-3 pt-md-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/pages/overview" routerLinkActive="active">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/pages/users" routerLinkActive="active">Units</a>
        </li>
      </ul>
    </div>
    <div class="btn-group d-none d-md-block">
      <p>inox</p>
    </div>
    <div actions>
      <div class="btn-group d-none d-md-block">
        <button class="btn btn-success" routerLink="/pages/explorateur" (click)="deconnexion();">
          D/connexion
        </button>
      </div>
    </div>

  </e-navbar>
</div>
