#titre {
    text-align: center;
    font-size: 18;
}

#inscription {
    float: left;
    margin-left: 20%;
    padding: 30px;
    width: 450px;
}
#connection {
    float: right;
    margin-right: 20%;
    padding: 30px;
    width: 450px;
}