<layout-default>
  <div class="mb-8">
          
          <div class="row flex-lg-nowrap">
            <div class="col mb-8">
              
                <table class="table table-bordered">
                    <thead class="thead-dark">
                      <tr>
                        <th>Photo</th>
                        <th>Name</th>
                        <th>Life</th>
                        <th>Speed</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let unit of units | async">
                        <td><img id="imgUnit" src="{{ unit.imageURL }}"></td>
                        <td>{{ unit.name }}</td>
                        <td>{{ unit.life }}</td> 
                        <td>{{ unit.speed }}</td>
                        <td>
                            <button
                              class="btn btn-sm btn-outline-secondary badge"
                              type="button"
                              (click)="openModal(unit, editUnitModal)">Détail</button>
                      </td>
                    </tr>
                  </tbody>
                  </table>
            </div>
          </div>
          <ng-template #editUnitModal let-c="close" let-d="dismiss">
            <div class="modal-body">
              <div class="py-1">
                <app-profile [unit]="unitToShow"></app-profile>
              </div>
            </div>
          </ng-template>
          
  </div>
</layout-default>